{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
<form novalidate>
	<h3 align="center">Login</h3>
	<div class="row justify-content-center">
		<div class="form-group col-md-6">
			<label for="email">Email</label>
			<input type="email"
				class="form-control"
				id="email"
				name="email"
				placeholder="Enter email"
				required />
			<div class="invalid-feedback"></div>
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="form-group col-md-6">
			<label for="password">Password</label>
			<input type="password"
				class="form-control"
				id="password"
				name="password"
				placeholder="Enter password"
				required />
			<div class="invalid-feedback"></div>
		</div>
	</div>
	<br />
	<div id="alert-container"></div>
	<div class="row justify-content-center"
		align="right">
		<div class="col-md-6">
			<button id="login"
				type="button"
				class="btn btn-lg btn-outline-light">Login</button>
		</div>
	</div>
</form>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
	let inputElementsIds = ['email', 'password']

	document.addEventListener('DOMContentLoaded', () => {
		inputElementsIds.forEach(id => {
			document.getElementById(id).addEventListener('input', validateForm);
		});
		validateForm();

		let loginButton = document.getElementById('login');
		loginButton.addEventListener('click', tryLogin);
	});

	function validateForm() {
		let formData = getFormData();
		let email = formData.email;
		let password = formData.password;
		let loginButton = document.getElementById('login');
		loginButton.disabled = Boolean(!email || !password);
	}

	function getFormData() {
		return {
			email: document.getElementById('email').value,
			password: document.getElementById('password').value
		};
	}

	async function tryLogin() {
		let formData = getFormData();
		let response = await fetch('/login/login-account', {
			method: 'POST',
			headers: {
				"Content-Type": "application/json",
			},
			body: JSON.stringify(formData);
		});

		if (response.status === 404) // todo: should have a file that enumerates these or import them from somewhere
			showAlert('No account exists with this email.');
		else if (response.status === 401)
			showAlert('Incorrect password!');
	}

	function showAlert(message) {
		let alert = document.createElement('div');
		alert.className = 'alert alert-danger';
		alert.role = 'alert';
		alert.innerHTML = message;

		let alertContainer = document.getElementById('alert-container');
		alertContainer.append(alert);
	}

	function hideAlert() {
		let alertContainer = document.getElementById('alert-container');
		alertContainer.replaceChildren();
	}
</script>
{% endblock%}